<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>试卷列表</title>
    <header th:replace="header::html"></header>
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a>
              <cite>试卷列表</cite>
            </a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm"
                                    onclick="xadmin.open('添加试卷', '/paper/add', 450, 340)">
                                添加试卷
                            </button>
                        </div>
                    </script>
                    <table class="layui-hide" id="table" lay-filter="member"></table>
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-xs" lay-event="relate">关联题目</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="status" value="{{d.paperNo}}" lay-skin="switch" lay-text="发布|取消"
           lay-filter="status" {{d.status== 1 ? 'checked' : ''}} / >
</script>
</body>
</html>
<script>
    layui.use(['table', 'form'], function () {
        var form = layui.form;
        var table = layui.table;

        table.render({
            elem: '#table'
            , url: '/paper/list'
            , page: true
            , toolbar: '#toolbarDemo'
            , cellMinWidth: 80
            , response: {
                countName: 'count',
                dataName: 'datas'
            }
            , cols: [
                [
                    {field: 'paperNo', title: '试卷编号', sort: true},
                    {field: 'paperName', title: '试卷名称', sort: true},
                    {
                        field: 'majorType', title: '技术类型', templet: function (data) {
                            if (data.majorType === 1) {
                                return "Java"
                            } else if (data.majorType === 2) {
                                return "测试"
                            } else {
                                return "未知"
                            }
                        }
                    },
                    {field: 'createTime', title: '创建时间', sort: true},
                    {field: 'updateTime', title: '修改时间', sort: true},
                    {field: 'status', title: '是否发布', width: 100, templet: '#switchTpl', unresize: true},
                    {fixed: 'right', title: '操作', minWidth: 140, toolbar: '#barDemo'}
                ]
            ]
        });

        form.on('switch(status)', function (obj) {
            var paperNo = this.value;
            var status = obj.elem.checked;
            status ? status = 1 : status = 0;
            $.ajax({
                url: "/paper/edit",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({paperNo: paperNo, status: status}),
                dataType: 'json',
                success: function (result) {
                    if (result.code === 500) {
                        layer.alert(result.msg);
                        table.reload("table");
                    } else {
                        layer.alert("操作成功", {icon: 1}, function (index) {
                            // xadmin.father_reload();
                            layer.close(index);
                            table.reload("table");
                        });
                    }
                }
            });
            return false;
        });

        table.on('tool(member)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定删除?', function () {
                    $.ajax({
                        url: "/paper/delete",
                        type: 'GET',
                        data: {paperNo: data.paperNo},
                        dataType: 'json',
                        success: function (result) {
                            if (result.code === 500) {
                                layer.alert(result.msg);
                            } else {
                                layer.alert("删除成功", {icon: 1}, function (index) {
                                    layer.close(index);
                                    // xadmin.father_reload();
                                    table.reload("table")
                                })
                            }
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                xadmin.open('编辑试卷信息', '/paper/edit?paperNo=' + data.paperNo, 450, 340);
            }else if (obj.event === 'relate') {
                xadmin.open('关联考题', '/paper/relate?paperNo=' + data.paperNo);
            }
        });
    });
</script>